op_user: "user"
op_user_password: "{{ 'your_password' | password_hash('sha512') }}"
op_user_ssh_key: "/path/to/your/key"
docker_host_ip: "{{ ansible_default_ipv4.address }}"
docker_insecure_registry_hosts:
  - "hostname"
docker_registry_ports:
  - "443"
  - "5000"
docker_insecure_registries_https: >
  {{ docker_insecure_registry_hosts | map('regex_replace', '$', ':443') | list }}
docker_insecure_registries_tcp: >
  {{ docker_insecure_registry_hosts | map('regex_replace', '$', ':5000') | list }}
docker_insecure_registries: >
  {{ docker_insecure_registries_https + docker_insecure_registries_tcp }}
docker_self_signed_certificate: |
  -----BEGIN CERTIFICATE-----
  PUT_YOUR_CERITICATE
  -----END CERTIFICATE-----
